name: CI-CD

on:
  push:
    branches: [ main ]

jobs:
  build-test-scan:
    runs-on: ubuntu-latest
    env:
      IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/my-python-app:${{ github.sha }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Python dependencies
        run: |
          pip install -r app/requirements.txt
          pip install pytest

      - name: Run unit tests
        run: |
          export PYTHONPATH="$PYTHONPATH:$(pwd)"
          pytest -q

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: docker build -t $IMAGE .

      - name: Run Trivy scan on image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.IMAGE }}
          format: 'table'
          severity: 'HIGH,CRITICAL'
          exit-code: '1'


      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push image to Docker Hub
        run: docker push $IMAGE

  deploy-to-ec2:
    needs: build-test-scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH key
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy to EC2
        env:
          IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/my-python-app:${{ github.sha }}
          SSH_HOST: ${{ secrets.SSH_HOST }}
          SSH_USER: ${{ secrets.SSH_USER }}
        run: |
          ssh -o StrictHostKeyChecking=no $SSH_USER@$SSH_HOST << 'EOF'
            docker pull $IMAGE
            if docker ps -q -f name=my-python-app; then
              docker stop my-python-app || true
              docker rm my-python-app || true
            fi
            docker run -d --name my-python-app -p 80:5000 $IMAGE
          EOF

